/* 言語切り替えボタンのスタイル修正 */
.dropdown-language .nav-link {
  display: flex;
  align-items: center;
  color: white !important;
}

.btn-warning {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
  color: #000 !important;
}

/* 新規登録ボタンのスタイル修正 */
#register-btn {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #212529;
  margin-right: 10px;
}

/* ドロップダウンの矢印を調整 */
.dropdown-toggle::after {
  margin-left: 0.5em;
  vertical-align: 0.2em;
}
